@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* Простые и стильные стили */
body {
  background: linear-gradient(135deg, #273c5a 0%, #7587a4 100%);
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}
.stathead{
  color: #c3cfe2;
}
.lkinfo{
  font-size: 20px;
}
.description{
  color: #000000;
  font-weight: bold;
}
img{
  height: 200px;
  width: 135px;
  object-fit: cover; 
}
.films{
  display: flex;
  object-fit: cover;
  border-radius: 3px;
  margin-top: 30px;
  gap: 30px;
  width: 350px;

}
.filmName{
  text-align: left;
  color: #c3cfe2;
}
.inputauth{
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
}
.back:hover{
  color: #78c9ff;
}
.back{
  text-align: center;
  width: 100%;
  display: block;
  padding: 10px;
}
h3{
  
}
.auth{
  color: #81c3ee;
  padding-left: 2%;
  font-size: 20px;
  text-align: center;

}
.auth:hover {
  color: #c1ddf0;
}

.header {
  text-align: center;
  background: linear-gradient(135deg, #425979 0%, #7da3d8 100%);
  padding: 10px;
  margin: -20px -20px 30px -20px;
  border-bottom: 3px solid #072b48;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: block;
}

.header h1 {
  color: #a9c6e2;
  font-size: 2.5rem;
  margin: 0;
  background: none;
  display: block;
}
